<div class="container inner">
  <p id="notice"><%= notice %></p>

  <h1><%= @report.student %></h1>

    <%= @report.description %>

    <%= @report.image %>

    <%= @report.title %>

  <p>
  </p>
</div>
